### Python List Comprehension  
basic format: new_list = [transform sequence [filter]]

In [1]:
import random

#### get values within a range

In [2]:
under_10 = [x for x in range(10)]
print('under_10:' + str(under_10))

under_10:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### get_squared values

In [3]:
squared = [x**2 for x in under_10]
print('squares' + str(squared))

squares[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### get odd numbers using mod

In [4]:
odds = [x for x in range(10) if x%2 == 1]
print('odds' + str(odds))

odds[1, 3, 5, 7, 9]

#### get multiple of 10

In [6]:
multiples = [x*10 for x in range(10)]
print('multiples' + str(multiples))

multiples[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

#### get all numbers from a string

In [7]:
s = 'I love 2 go t0 the store 7 times a w3ek'
nums = [x for x in s if x.isnumeric()]
print('nums: ' + str(nums))

nums: ['2', '0', '7', '3']

#### get index of a list item

In [9]:
names = ['Cosmo', 'Pedro', 'Anu', 'Ray']
index = [k for k, v in enumerate(names) if v == 'Anu']
print(index)
print('index: ' + str(index[0]))

[2]
index: 2

#### delete an item from a list

In [10]:
letters = [x for x in 'ABCDEFGHIJKLMNO']
random.shuffle(letters)
letrs = [x for x in letters if x != 'C']
print(letters, letrs)

['A', 'E', 'F', 'C', 'B', 'O', 'J', 'K', 'G', 'L', 'I', 'M', 'D', 'H', 'N'] ['A', 'E', 'F', 'B', 'O', 'J', 'K', 'G', 'L', 'I', 'M', 'D', 'H', 'N']

####  if-else condition in comprehension  
must come before iteration

In [11]:
nums = [5,3,10,18,6,7]
new_list = [x if x%2 == 0 else 10*x for x in nums]
print('new_list: ', new_list)

new_list:  [50, 30, 10, 18, 6, 70]

#### nested loops for 2D list  
b is the subset, x is the values

In [13]:
a = [[1,2], [3,4]]
new_list = [x for b in a for x in b]
print(new_list)

[1, 2, 3, 4]